<!DOCTYPE html>
<html lang="en">
<head>

  <!-- General info -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-language" content="en-us">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <title>Fresh Juice - Contact</title>
  <meta name="description" content="Say hello to a healthier you with your portable blender bottle. Powerful enough to crush ice and small enough to be taken on the go. Enjoy Fresh Drinks, tasty protein shakes or healthy smoothies, Any time, Anywhere.">

  <!-- Render Blocking Resources -->
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/components/custom-select.css">
  <link rel="stylesheet" href="/css/components/navbar.css">
  <link rel="stylesheet" href="/css/contact.css">
  
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap"></noscript>

  <!-- Deferred Resources -->
  <link rel="preload" href="/css/components/footer.css" as="style" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="/css/components/footer.css"></noscript>
  <script defer src="/script/common.js"></script>
  <script defer src="/script/components/navbar.js"></script>
  <script defer src="/script/components/custom-select.js"></script>
  <script defer src="/script/components/currency-select.js"></script>
  <script defer src="/script/components/mailing-list.js"></script>
  <script defer src="/script/contact.js"></script>
  <link rel="icon" type="image/png" href="/image/logo.webp">

</head>
<body>
<div class="body-container">
  
  <header id="header">
    <%- include("components/navbar") %>
  </header>
 
  <main>
    <section class="sec_faq">
      <h2>Frequently Asked Questions</h2>
      <div class="question_container">

        <div class="content_box">
          <button type="button" class="question"><p>How can I track my order?</p><span>+</span></button>
          <div class="answer">
            <p class="answer_p">You can track all of your orders on our <a class="question_link" href="/track-order">track order</a> page. Please be aware that the tracking accuracy may depend on the shipping service and know that we will send you email notifications for significant updates and when your order arrives.</p>
          </div> 
        </div>

        <div class="content_box">
          <button type="button" class="question"><p>Can I put the blender in the dish washer?</p><span>+</span></button>
          <div class="answer">
            <p class="answer_p"><strong>Do not put the electronic base in the dish washer! </strong>Fresh Juice Blenders should be washed by hand. Alternatively, you may add the non-electronic part of the blender to the dish washer.</p>
          </div> 
        </div>

        <div class="content_box">
          <button type="button" class="question"><p>When are you going to refill your stock?</p><span>+</span></button>
          <div class="answer">
            <p class="answer_p">Due to high demand this summer, we do occasionally run out of stock. Our team is working as fast as they can to expand our shelves and we are never out of stock for long. If you wish to be notified about our next restock, please join our <a class="question_link" href="#inp_email_ml">mailing list</a>.</p>
          </div> 
        </div>

        <div class="content_box">
          <button type="button" class="question"><p>When is your next flash sale?</p><span>+</span></button>
          <div class="answer">
            <p class="answer_p">There is no guarantee when we will have our next flash sale. We often like to give back to our loyal community on special occasions. However, the best way to be kept in the loop would be to join our <a class="question_link" href="#inp_email_ml">mailing list</a>.</p>
          </div> 
        </div>

        <div class="content_box">
          <button type="button" class="question"><p>Do you offer returns?</p><span>+</span></button>
          <div class="answer">
            <p class="answer_p">Yes! Giving you a risk free checkout experience is our utmost priority. Therefore, <strong>we offer a full refund up until 30 days</strong> after receiving your order if you are not satisfied as specified in our <a class="question_link" href="return-policy">return policy</a>.</p>
          </div> 
        </div>

      </div>
    </section>

    <section class="sec_contact">
      <h2>Need more help?</h2>
      <form action="/contact/submit-question" method="POST" id="form_contact_us" class="form_contact_us">
        <div class="inp_group">
          <label for="inp_name">Name:</label>
          <p class="error_text" id="error_name"></p>
          <input type="text" name="name" id="inp_name" placeholder="Your name">
        </div>
        <div class="inp_group">
          <label for="inp_email">Email:</label>
          <p class="error_text" id="error_email"></p>
          <input type="email" name="email" id="inp_email" placeholder="yourmail@email.com">
          <div class="checkbox_container">
            <input type="checkbox" name="mailing_list" id="inp_mailing_list" checked>
            <label for="inp_mailing_list">Receive promotional emails about sales and announcements?</label>
          </div>
        </div>
        <div class="inp_group">
          <label for="inp_question">Your Question:</label>
          <p class="error_text" id="error_question"></p>
          <textarea name="question" id="inp_question" cols="30" rows="10" placeholder="Write your question here."></textarea>
        </div>
        <div class="footer">
          <button type="submit" id="btn_submit_question" class="btn_submit_question">
            Submit Question
            <span class="loading_dots"><span></span><span></span><span></span></span>
          </button>
          <p>Feel free to ask any questions - our talented team will respond within 24 hours. You can also contact us at our email <a target="_blank" href="mailto:theviralshop@outlook.com?subject=<%= website_info.name_email %>%20Support:">theviralshop@outlook.com</a></p>
        </div>
      </form>
      <div class="contact_success_div">
        <img src="/image/icon/sticker-thank-you.gif" alt="Teddy bear saying thank you">
        <p>Your question was successfully send! You can expect a response within 24 hours.</p>
      </div>
    </section>

    <section class="sec_feedback">
      <h2>We always appreciate your feedback</h2>
      <form action="/submit-feedback" method="POST" class="form_feedback" id="form_feedback">
        <p class="main_question">How would you rate your experience:</p>

        <div class="question_container">
          <label for="">Using our website</label>
          <div class="stars_wrapper">
            <div class="stars_container" data-not-answered data-rating="5" id="stars_container_1">
              <svg class="star_svg star_1" x="0px" y="0px" width="228.6px" height="218px" viewBox="64 -59 228.6 218"><polygon class="star_svg_left" points="146.7,17.6 64,23.9 127.1,77.7 107.5,158.3 178.2,114.9 178.3,-59"></polygon><polygon class="star_svg_right" points="292.6,24.1 209.9,17.7 178.3,-59 178.2,114.9 248.8,158.4 229.4,77.8"></polygon></svg>
              <svg class="star_svg star_2" x="0px" y="0px" width="228.6px" height="218px" viewBox="64 -59 228.6 218"><polygon class="star_svg_left" points="146.7,17.6 64,23.9 127.1,77.7 107.5,158.3 178.2,114.9 178.3,-59"></polygon><polygon class="star_svg_right" points="292.6,24.1 209.9,17.7 178.3,-59 178.2,114.9 248.8,158.4 229.4,77.8"></polygon></svg>
              <svg class="star_svg star_3" x="0px" y="0px" width="228.6px" height="218px" viewBox="64 -59 228.6 218"><polygon class="star_svg_left" points="146.7,17.6 64,23.9 127.1,77.7 107.5,158.3 178.2,114.9 178.3,-59"></polygon><polygon class="star_svg_right" points="292.6,24.1 209.9,17.7 178.3,-59 178.2,114.9 248.8,158.4 229.4,77.8"></polygon></svg>
              <svg class="star_svg star_4" x="0px" y="0px" width="228.6px" height="218px" viewBox="64 -59 228.6 218"><polygon class="star_svg_left" points="146.7,17.6 64,23.9 127.1,77.7 107.5,158.3 178.2,114.9 178.3,-59"></polygon><polygon class="star_svg_right" points="292.6,24.1 209.9,17.7 178.3,-59 178.2,114.9 248.8,158.4 229.4,77.8"></polygon></svg>
              <svg class="star_svg star_5" x="0px" y="0px" width="228.6px" height="218px" viewBox="64 -59 228.6 218"><polygon class="star_svg_left" points="146.7,17.6 64,23.9 127.1,77.7 107.5,158.3 178.2,114.9 178.3,-59"></polygon><polygon class="star_svg_right" points="292.6,24.1 209.9,17.7 178.3,-59 178.2,114.9 248.8,158.4 229.4,77.8"></polygon></svg>
            </div> 
            <div class="stars_cursor_events_container" id="stars_cursor_events_container_1">
              <button aria-label="0.5 stars" type="button" data-rating="1"><div data-rating="1" tabindex="-1"></div></button>
              <button aria-label="1 stars" type="button" data-rating="2"><div data-rating="2" tabindex="-1"></div></button>
              <button aria-label="1.5 stars" type="button" data-rating="3"><div data-rating="3" tabindex="-1"></div></button>
              <button aria-label="2 stars" type="button" data-rating="4"><div data-rating="4" tabindex="-1"></div></button>
              <button aria-label="2.5 stars" type="button" data-rating="5"><div data-rating="5" tabindex="-1"></div></button>
              <button aria-label="3 stars" type="button" data-rating="6"><div data-rating="6" tabindex="-1"></div></button>
              <button aria-label="3.5 stars" type="button" data-rating="7"><div data-rating="7" tabindex="-1"></div></button>
              <button aria-label="4 stars" type="button" data-rating="8"><div data-rating="8" tabindex="-1"></div></button>
              <button aria-label="4.5 stars" type="button" data-rating="9"><div data-rating="9" tabindex="-1"></div></button>
              <button aria-label="5 stars" type="button" data-rating="10"><div data-rating="10" tabindex="-1"></div></button>
            </div>
          </div>
        </div>

        <div class="question_container">
          <label for="">Learning about the product</label>
          <div class="stars_wrapper">
            <div class="stars_container" data-not-answered data-rating="5" id="stars_container_2">
              <svg class="star_svg star_1" x="0px" y="0px" width="228.6px" height="218px" viewBox="64 -59 228.6 218"><polygon class="star_svg_left" points="146.7,17.6 64,23.9 127.1,77.7 107.5,158.3 178.2,114.9 178.3,-59"></polygon><polygon class="star_svg_right" points="292.6,24.1 209.9,17.7 178.3,-59 178.2,114.9 248.8,158.4 229.4,77.8"></polygon></svg>
              <svg class="star_svg star_2" x="0px" y="0px" width="228.6px" height="218px" viewBox="64 -59 228.6 218"><polygon class="star_svg_left" points="146.7,17.6 64,23.9 127.1,77.7 107.5,158.3 178.2,114.9 178.3,-59"></polygon><polygon class="star_svg_right" points="292.6,24.1 209.9,17.7 178.3,-59 178.2,114.9 248.8,158.4 229.4,77.8"></polygon></svg>
              <svg class="star_svg star_3" x="0px" y="0px" width="228.6px" height="218px" viewBox="64 -59 228.6 218"><polygon class="star_svg_left" points="146.7,17.6 64,23.9 127.1,77.7 107.5,158.3 178.2,114.9 178.3,-59"></polygon><polygon class="star_svg_right" points="292.6,24.1 209.9,17.7 178.3,-59 178.2,114.9 248.8,158.4 229.4,77.8"></polygon></svg>
              <svg class="star_svg star_4" x="0px" y="0px" width="228.6px" height="218px" viewBox="64 -59 228.6 218"><polygon class="star_svg_left" points="146.7,17.6 64,23.9 127.1,77.7 107.5,158.3 178.2,114.9 178.3,-59"></polygon><polygon class="star_svg_right" points="292.6,24.1 209.9,17.7 178.3,-59 178.2,114.9 248.8,158.4 229.4,77.8"></polygon></svg>
              <svg class="star_svg star_5" x="0px" y="0px" width="228.6px" height="218px" viewBox="64 -59 228.6 218"><polygon class="star_svg_left" points="146.7,17.6 64,23.9 127.1,77.7 107.5,158.3 178.2,114.9 178.3,-59"></polygon><polygon class="star_svg_right" points="292.6,24.1 209.9,17.7 178.3,-59 178.2,114.9 248.8,158.4 229.4,77.8"></polygon></svg>
            </div> 
            <div class="stars_cursor_events_container" id="stars_cursor_events_container_2">
              <button aria-label="0.5 stars" type="button" data-rating="1"><div data-rating="1" tabindex="-1"></div></button>
              <button aria-label="1 stars" type="button" data-rating="2"><div data-rating="2" tabindex="-1"></div></button>
              <button aria-label="1.5 stars" type="button" data-rating="3"><div data-rating="3" tabindex="-1"></div></button>
              <button aria-label="2 stars" type="button" data-rating="4"><div data-rating="4" tabindex="-1"></div></button>
              <button aria-label="2.5 stars" type="button" data-rating="5"><div data-rating="5" tabindex="-1"></div></button>
              <button aria-label="3 stars" type="button" data-rating="6"><div data-rating="6" tabindex="-1"></div></button>
              <button aria-label="3.5 stars" type="button" data-rating="7"><div data-rating="7" tabindex="-1"></div></button>
              <button aria-label="4 stars" type="button" data-rating="8"><div data-rating="8" tabindex="-1"></div></button>
              <button aria-label="4.5 stars" type="button" data-rating="9"><div data-rating="9" tabindex="-1"></div></button>
              <button aria-label="5 stars" type="button" data-rating="10"><div data-rating="10" tabindex="-1"></div></button>
            </div>
          </div>
        </div>
        
        <div class="question_container">
          <label for="">Placing an order</label>
          <div class="stars_wrapper">
            <div class="stars_container" data-not-answered data-rating="5" id="stars_container_3">
              <svg class="star_svg star_1" x="0px" y="0px" width="228.6px" height="218px" viewBox="64 -59 228.6 218"><polygon class="star_svg_left" points="146.7,17.6 64,23.9 127.1,77.7 107.5,158.3 178.2,114.9 178.3,-59"></polygon><polygon class="star_svg_right" points="292.6,24.1 209.9,17.7 178.3,-59 178.2,114.9 248.8,158.4 229.4,77.8"></polygon></svg>
              <svg class="star_svg star_2" x="0px" y="0px" width="228.6px" height="218px" viewBox="64 -59 228.6 218"><polygon class="star_svg_left" points="146.7,17.6 64,23.9 127.1,77.7 107.5,158.3 178.2,114.9 178.3,-59"></polygon><polygon class="star_svg_right" points="292.6,24.1 209.9,17.7 178.3,-59 178.2,114.9 248.8,158.4 229.4,77.8"></polygon></svg>
              <svg class="star_svg star_3" x="0px" y="0px" width="228.6px" height="218px" viewBox="64 -59 228.6 218"><polygon class="star_svg_left" points="146.7,17.6 64,23.9 127.1,77.7 107.5,158.3 178.2,114.9 178.3,-59"></polygon><polygon class="star_svg_right" points="292.6,24.1 209.9,17.7 178.3,-59 178.2,114.9 248.8,158.4 229.4,77.8"></polygon></svg>
              <svg class="star_svg star_4" x="0px" y="0px" width="228.6px" height="218px" viewBox="64 -59 228.6 218"><polygon class="star_svg_left" points="146.7,17.6 64,23.9 127.1,77.7 107.5,158.3 178.2,114.9 178.3,-59"></polygon><polygon class="star_svg_right" points="292.6,24.1 209.9,17.7 178.3,-59 178.2,114.9 248.8,158.4 229.4,77.8"></polygon></svg>
              <svg class="star_svg star_5" x="0px" y="0px" width="228.6px" height="218px" viewBox="64 -59 228.6 218"><polygon class="star_svg_left" points="146.7,17.6 64,23.9 127.1,77.7 107.5,158.3 178.2,114.9 178.3,-59"></polygon><polygon class="star_svg_right" points="292.6,24.1 209.9,17.7 178.3,-59 178.2,114.9 248.8,158.4 229.4,77.8"></polygon></svg>
            </div> 
            <div class="stars_cursor_events_container" id="stars_cursor_events_container_3">
              <button aria-label="0.5 stars" type="button" data-rating="1"><div data-rating="1" tabindex="-1"></div></button>
              <button aria-label="1 stars" type="button" data-rating="2"><div data-rating="2" tabindex="-1"></div></button>
              <button aria-label="1.5 stars" type="button" data-rating="3"><div data-rating="3" tabindex="-1"></div></button>
              <button aria-label="2 stars" type="button" data-rating="4"><div data-rating="4" tabindex="-1"></div></button>
              <button aria-label="2.5 stars" type="button" data-rating="5"><div data-rating="5" tabindex="-1"></div></button>
              <button aria-label="3 stars" type="button" data-rating="6"><div data-rating="6" tabindex="-1"></div></button>
              <button aria-label="3.5 stars" type="button" data-rating="7"><div data-rating="7" tabindex="-1"></div></button>
              <button aria-label="4 stars" type="button" data-rating="8"><div data-rating="8" tabindex="-1"></div></button>
              <button aria-label="4.5 stars" type="button" data-rating="9"><div data-rating="9" tabindex="-1"></div></button>
              <button aria-label="5 stars" type="button" data-rating="10"><div data-rating="10" tabindex="-1"></div></button>
            </div>
          </div>
        </div>

        <div class="question_container">
          <label for="">Interacting with our team</label>
          <div class="stars_wrapper">
            <div class="stars_container" data-not-answered data-rating="5" id="stars_container_4">
              <svg class="star_svg star_1" x="0px" y="0px" width="228.6px" height="218px" viewBox="64 -59 228.6 218"><polygon class="star_svg_left" points="146.7,17.6 64,23.9 127.1,77.7 107.5,158.3 178.2,114.9 178.3,-59"></polygon><polygon class="star_svg_right" points="292.6,24.1 209.9,17.7 178.3,-59 178.2,114.9 248.8,158.4 229.4,77.8"></polygon></svg>
              <svg class="star_svg star_2" x="0px" y="0px" width="228.6px" height="218px" viewBox="64 -59 228.6 218"><polygon class="star_svg_left" points="146.7,17.6 64,23.9 127.1,77.7 107.5,158.3 178.2,114.9 178.3,-59"></polygon><polygon class="star_svg_right" points="292.6,24.1 209.9,17.7 178.3,-59 178.2,114.9 248.8,158.4 229.4,77.8"></polygon></svg>
              <svg class="star_svg star_3" x="0px" y="0px" width="228.6px" height="218px" viewBox="64 -59 228.6 218"><polygon class="star_svg_left" points="146.7,17.6 64,23.9 127.1,77.7 107.5,158.3 178.2,114.9 178.3,-59"></polygon><polygon class="star_svg_right" points="292.6,24.1 209.9,17.7 178.3,-59 178.2,114.9 248.8,158.4 229.4,77.8"></polygon></svg>
              <svg class="star_svg star_4" x="0px" y="0px" width="228.6px" height="218px" viewBox="64 -59 228.6 218"><polygon class="star_svg_left" points="146.7,17.6 64,23.9 127.1,77.7 107.5,158.3 178.2,114.9 178.3,-59"></polygon><polygon class="star_svg_right" points="292.6,24.1 209.9,17.7 178.3,-59 178.2,114.9 248.8,158.4 229.4,77.8"></polygon></svg>
              <svg class="star_svg star_5" x="0px" y="0px" width="228.6px" height="218px" viewBox="64 -59 228.6 218"><polygon class="star_svg_left" points="146.7,17.6 64,23.9 127.1,77.7 107.5,158.3 178.2,114.9 178.3,-59"></polygon><polygon class="star_svg_right" points="292.6,24.1 209.9,17.7 178.3,-59 178.2,114.9 248.8,158.4 229.4,77.8"></polygon></svg>
            </div> 
            <div class="stars_cursor_events_container" id="stars_cursor_events_container_4">
              <button aria-label="0.5 stars" type="button" data-rating="1"><div data-rating="1" tabindex="-1"></div></button>
              <button aria-label="1 stars" type="button" data-rating="2"><div data-rating="2" tabindex="-1"></div></button>
              <button aria-label="1.5 stars" type="button" data-rating="3"><div data-rating="3" tabindex="-1"></div></button>
              <button aria-label="2 stars" type="button" data-rating="4"><div data-rating="4" tabindex="-1"></div></button>
              <button aria-label="2.5 stars" type="button" data-rating="5"><div data-rating="5" tabindex="-1"></div></button>
              <button aria-label="3 stars" type="button" data-rating="6"><div data-rating="6" tabindex="-1"></div></button>
              <button aria-label="3.5 stars" type="button" data-rating="7"><div data-rating="7" tabindex="-1"></div></button>
              <button aria-label="4 stars" type="button" data-rating="8"><div data-rating="8" tabindex="-1"></div></button>
              <button aria-label="4.5 stars" type="button" data-rating="9"><div data-rating="9" tabindex="-1"></div></button>
              <button aria-label="5 stars" type="button" data-rating="10"><div data-rating="10" tabindex="-1"></div></button>
            </div>
          </div>
        </div>

        <div class="inp_group_where">
          <label for="inp_where">Where did you find us?</label>
          <select class="inp_where --semi-rounded-corners" data-custom-select name="where" id="inp_where">
            <option value="blank">Leave blank</option>
            <option value="tiktok">TikTok</option>
            <option value="instagram">Instagram</option>
            <option value="google">Google Search</option>
            <option value="recommended">Recommended</option>
            <option value="other">Other</option>
          </select>
        </div>
        
        <div class="inp_group">
          <label for="inp_comment">Add a comment / report an issue.</label>
          <textarea name="comment" id="inp_comment" cols="30" rows="10" placeholder="All feedback is appreciated."></textarea>
        </div>
        <p class="feedback_error_text" id="feedback_error_text"></p>
        <button type="submit" class="btn_submit_feedback" id="btn_submit_feedback">
          Submit Feedback
          <span class="loading_dots"><span></span><span></span><span></span></span>
        </button>
      </form>

      <div class="feedback_success_div">
        <img src="/image/icon/sticker-thank-you.gif" alt="Teddy bear saying thank you">
        <p>Thank you for your feedback! We are constantly working to improve our customers' experience and will make sure to take your comments into consideration.</p>
      </div>
    </section>
  </main>

  <%- include("components/footer") %>
  
</div>
</body>
</html>