<!DOCTYPE html>
<html lang="en">
<head>

  <!-- General info -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-language" content="en-us">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <title>Fresh Juice - Track Your Order</title>
  <meta name="description" content="Say hello to a healthier you with your portable blender bottle. Powerful enough to crush ice and small enough to be taken on the go. Enjoy Fresh Drinks, tasty protein shakes or healthy smoothies, Any time, Anywhere.">

  <!-- Render Blocking Resources -->
  <link rel="stylesheet" href="/css/common.css">
  <link rel="stylesheet" href="/css/components/custom-select.css">
  <link rel="stylesheet" href="/css/components/navbar.css">
  <link rel="stylesheet" href="/css/track-order.css">
  <link rel="stylesheet" href="/css/components/footer.css">
  
  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preload" as="style" onload="this.onload=null;this.rel='stylesheet'" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap">
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap"></noscript>

  <!-- Deferred Resources -->
  <script defer src="/script/components/navbar.js"></script>
  <script defer src="/script/components/custom-select.js"></script>
  <script defer src="/script/components/currency-select.js"></script>
  <script defer src="/script/components/mailing-list.js"></script>
  <script defer src="/script/track-order.js"></script>
  <link rel="icon" type="image/png" href="/image/logo.webp">
  
</head>
<body>
<div class="body-container">
  
  <header id="header">
    <%- include("components/navbar") %>
  </header>

  <main>
    <section class="sec_track">
      
      <div class="searchbar_container">
        <h2>View & track your orders</h2>
        <form action="/track-order/search" method="POST" class="form_search" id="form_search">
          <input type="search" name="" id="inp_search" placeholder="Enter your order ID or email." <% if (user.email != "") { %> value="<%= user.email %>" <% } %>>
          <button type="submit">Search</button>
        </form>
        <ul>
          <li>Enter your email to see all your orders.</li>
          <li>Enter your order ID to see a specific order.</li>
          <li>Can't find your order? <a href="/contact">contact us.</a></li>
        </ul>
      </div>

      <div class="loading_container" id="loading_container">
        <span class="loading_dots"><span></span><span></span><span></span></span>
      </div>

      <div class="nothing_found_container shown" id="nothing_found_container">
        <img src="/image/icon/empty-icon.png" alt="">
        <p>Nothing to see here.</p>
      </div>

      <div class="something_found_container" id="something_found_container"></div>

    </section>
  </main>

  <div class="dialog_confirm_container" id="dialog_confirm_container">
    <div class="dialog_confirm">
      <p class="headline">Confirm Received</p>
      <p>Confirm that you have received your order.</p>
      <p>This action cannot be undone.</p>
      <div class="btn_container">
        <button class="btn_dialog_confirm" id="btn_dialog_confirm">Confirm</button>
        <button class="btn_dialog_cancel" id="btn_dialog_cancel">Cancel</button>
      </div>
    </div>
  </div>

  <%- include("components/footer") %>
  
</div>
</body>
</html>