.section-404 {
  margin: 6rem var(--page-margin);
  min-height: calc(100vh - var(--height-infobar) - var(--height-navbar) - 12rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 0.5rem;
}
@supports (min-height: 100dvh) {
  .section-404 {
    min-height: calc(100dvh - var(--height-infobar) - var(--height-navbar) - 12rem);
  }
}
.section-404 > img {
  width: 8rem;
}
.section-404 > p {
  max-width: 30rem;
  margin: 0 auto;
}
.section-404 > a {
  text-decoration: none;
  color: var(--clr-white);
  background-color: var(--clr-primary);
  padding: 0.75rem 1rem;
  border: 0.1rem solid var(--clr-primary);
  border-radius: 5px;
  margin-top: 0.5rem;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: background-color 300ms, color 300ms;
}
.section-404 > a:hover,
.section-404 > a:focus {
  color: var(--clr-primary);
  background-color: var(--clr-white);
}