/* Stars */
:root {
  --clr-empty: var(--clr-white, rgb(58, 58, 58));
}
.stars_container {
  --clr-star: var(--clr-primary);
  --clr-star-secondary: var(--clr-primary-faded);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.1rem;
}
.stars_container > svg {
  fill: var(--clr-empty);
}

.stars_container[data-not-answered] {
  --clr-star: var(--clr-primary-faded);
}

.stars_container[data-rating="10"]:not([data-hovered-rating]) > svg { fill: var(--clr-star); }

.stars_container[data-rating="9"]:not([data-hovered-rating]) > svg:nth-last-child(n+2) { fill: var(--clr-star); }
.stars_container[data-rating="9"]:not([data-hovered-rating]) > svg:last-child > polygon:first-child { fill: var(--clr-star); }

.stars_container[data-rating="8"]:not([data-hovered-rating]) > svg:nth-last-child(n+2) { fill: var(--clr-star); }

.stars_container[data-rating="7"]:not([data-hovered-rating]) > svg:nth-last-child(n+3) { fill: var(--clr-star); }
.stars_container[data-rating="7"]:not([data-hovered-rating]) > svg:nth-child(4) > polygon:first-child { fill: var(--clr-star); }

.stars_container[data-rating="6"]:not([data-hovered-rating]) > svg:nth-last-child(n+3) { fill: var(--clr-star); }

.stars_container[data-rating="5"]:not([data-hovered-rating]) > svg:nth-last-child(n+4) { fill: var(--clr-star); }
.stars_container[data-rating="5"]:not([data-hovered-rating]) > svg:nth-child(3) > polygon:first-child { fill: var(--clr-star); }

.stars_container[data-rating="4"]:not([data-hovered-rating]) > svg:nth-last-child(n+4) { fill: var(--clr-star); }

.stars_container[data-rating="3"]:not([data-hovered-rating]) > svg:nth-last-child(n+5) { fill: var(--clr-star); }
.stars_container[data-rating="3"]:not([data-hovered-rating]) > svg:nth-child(2) > polygon:first-child { fill: var(--clr-star); }

.stars_container[data-rating="2"]:not([data-hovered-rating]) > svg:first-child { fill: var(--clr-star); }

.stars_container[data-rating="1"]:not([data-hovered-rating]) > svg:first-child > polygon:first-child { fill: var(--clr-star); }

.stars_container[data-rating="0"]:not([data-hovered-rating]) > svg { fill: var(--clr-empty); }


.stars_container[data-hovered-rating="10"] > svg { fill: var(--clr-star-secondary); }

.stars_container[data-hovered-rating="9"] > svg:nth-last-child(n+2) { fill: var(--clr-star-secondary); }
.stars_container[data-hovered-rating="9"] > svg:last-child > polygon:first-child { fill: var(--clr-star-secondary); }

.stars_container[data-hovered-rating="8"] > svg:nth-last-child(n+2) { fill: var(--clr-star-secondary); }

.stars_container[data-hovered-rating="7"] > svg:nth-last-child(n+3) { fill: var(--clr-star-secondary); }
.stars_container[data-hovered-rating="7"] > svg:nth-child(4) > polygon:first-child { fill: var(--clr-star-secondary); }

.stars_container[data-hovered-rating="6"] > svg:nth-last-child(n+3) { fill: var(--clr-star-secondary); }

.stars_container[data-hovered-rating="5"] > svg:nth-last-child(n+4) { fill: var(--clr-star-secondary); }
.stars_container[data-hovered-rating="5"] > svg:nth-child(3) > polygon:first-child { fill: var(--clr-star-secondary); }

.stars_container[data-hovered-rating="4"] > svg:nth-last-child(n+4) { fill: var(--clr-star-secondary); }

.stars_container[data-hovered-rating="3"] > svg:nth-last-child(n+5) { fill: var(--clr-star-secondary); }
.stars_container[data-hovered-rating="3"] > svg:nth-child(2) > polygon:first-child { fill: var(--clr-star-secondary); }

.stars_container[data-hovered-rating="2"] > svg:first-child { fill: var(--clr-star-secondary); }

.stars_container[data-hovered-rating="1"] > svg:first-child > polygon:first-child { fill: var(--clr-star-secondary); }

.stars_container[data-hovered-rating="0"] > svg { fill: var(--clr-empty); }

.stars_container > .star_svg {
  enable-background: new 64 -59 228.6 218;
  stroke-width: 0px;
  width: 1.25em;
  height: 1.25em;
  object-fit: cover;
}
.stars_container > .star_svg > .star_svg_left {
  stroke-dasharray: 332 170 0 0;
  stroke: var(--clr-empty);
}
.stars_container > .star_svg > .star_svg_right {
  stroke-dasharray: 166 172 222 0;
  stroke: var(--clr-empty);
}



/* Review Form */
.sec_write_review {
  --page-margin: 1.5rem;
  margin: 5rem var(--page-margin);
}
.sec_write_review > h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.review_form {
  background-color: white;
  max-width: 600px;
  width: calc(100% - (var(--page-margin) * 2));
  margin: 0 auto 5rem auto;
  border-radius: 5px;
  padding: 2rem;
}
.review_form > .inp_group {
  margin-bottom: 1rem;
}
.review_form > .inp_group_rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
.review_form > .inp_group_rating > *:not(:nth-child(2)) {
  flex-basis: 0%;
  flex-grow: 1;
}
.review_form .stars_container > .star_svg {
  width: 1.8em;
  height: 1.8em;
}
.review_form .stars_container {
  gap: 0.2rem;
  pointer-events: none;
  touch-action: none;
}
.review_form .stars_wrapper {
  cursor: pointer;
  position: relative;
}
.review_form .stars_cursor_events_container {
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.1rem;
  right: -0.1rem;
  display: flex;
}
.review_form .stars_cursor_events_container > button {
  width: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.review_form .stars_cursor_events_container > button:focus {
  outline: none;
}
.review_form .stars_cursor_events_container > button > div {
  width: 100%;
  height: 100%;
}
.review_form label:not(.rating_label) {
  display: flex;
  margin-bottom: 0.25rem;
}
.review_form label > span {
  margin-left: auto;
  font-style: italic;
  opacity: 0.5;
}
.review_form input[type="text"] {
  padding: 0.75rem 1rem;
  border: none;
  border-bottom: 0.1rem solid rgba(0,0,0,0.5);
  border-left: 0.1rem solid rgba(0,0,0,0.5);
  border-top: 0.1rem solid rgba(0,0,0,0.1);
  border-right: 0.1rem solid rgba(0,0,0,0.1);
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
}
.review_form textarea {
  padding: 0.75rem 1rem;
  width: 100%;
  height: 8.5rem;
  border: none;
  border-bottom: 0.1rem solid rgba(0,0,0,0.5);
  border-left: 0.1rem solid rgba(0,0,0,0.5);
  border-top: 0.1rem solid rgba(0,0,0,0.1);
  border-right: 0.1rem solid rgba(0,0,0,0.1);
  border-radius: 5px;
  resize: none;
  font-size: 1rem;
}
.review_form textarea.error_border,
.review_form input.error_border {
  border: 0.1rem solid var(--clr-error);
}
.review_form input[type="text"]:focus,
.review_form textarea:focus {
  outline: none;
  border: 0.1rem solid var(--clr-primary);
}
.review_form .inp_group_photo {
  display: flex;
  flex-direction: column;
}
.review_form .btn_container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}
.review_form input[type="file"] {
  padding: 0.75rem 1rem;
  width: 100%;
  position: relative;
  border-radius: 5px;
  cursor: pointer;
}
.review_form input[type="file"]::-webkit-file-upload-button {
  cursor: pointer; 
}
.review_form input[type="file"]::after {
  content: 'Add photo';
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  inset: 0;
  background-color: white;
  border: none;
  border-bottom: 0.1rem solid rgba(0,0,0,0.5);
  border-left: 0.1rem solid rgba(0,0,0,0.5);
  border-top: 0.1rem solid rgba(0,0,0,0.1);
  border-right: 0.1rem solid rgba(0,0,0,0.1);
  border-radius: 5px;
  pointer-events: none;
  touch-action: none;
  transition: border 300ms, color 300ms;
}
.review_form input[type="file"]:hover::after {
  border: 0.1rem solid var(--clr-primary);
  color: var(--clr-primary);
}
.review_form input[type="file"]:focus-visible::after {
  border: 0.1rem solid var(--clr-primary);
  color: var(--clr-primary);
}
.review_form input[type="file"]:focus-visible {
  outline: none;
}
.review_form .btn_remove_img {
  display: none;
  width: 100%;
  color: var(--clr-black);
  background-color: white;
  border: none;
  border-bottom: 0.1rem solid rgba(0,0,0,0.5);
  border-left: 0.1rem solid rgba(0,0,0,0.5);
  border-top: 0.1rem solid rgba(0,0,0,0.1);
  border-right: 0.1rem solid rgba(0,0,0,0.1);
  border-radius: 5px;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  white-space: nowrap;
  cursor: pointer;
  transition: border 300ms, color 300ms;
}
.review_form .btn_remove_img:hover {
  border: 0.1rem solid var(--clr-primary);
  color: var(--clr-primary);
}
.review_form .btn_remove_img:focus-visible {
  border: 0.1rem solid var(--clr-primary);
  color: var(--clr-primary);
  outline: none;
}
.review_form .img_preview:not([src="#"]) + .btn_container > input[type="file"]::after {
  content: 'Change photo';
}
.review_form .img_preview:not([src="#"]) + .btn_container > .btn_remove_img {
  display: block;
}
.review_form .img_preview[src="#"] {
  display: none;
}
.review_form .img_preview {
  display: block;
  border-radius: 5px;
  margin: 1rem auto 0 auto;
  order: 1;
  max-height: 400px;
  max-width: 300px;
  object-fit: cover;
}
.review_form .btn_submit_review {
  position: relative;
  background-color: var(--clr-primary);
  color: white;
  border: 0.1rem solid var(--clr-primary);
  border-radius: 5px;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 300ms, color 300ms;
  margin: 2rem auto 0 auto;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.review_form .btn_submit_review:hover,
.review_form .btn_submit_review:focus {
  background-color: white;
  color: var(--clr-primary);
}
.review_form .btn_submit_review > .loading_dots {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.review_form .btn_submit_review.clicked {
  color: white;
  transition: background-color 300ms, color 0s;
}
.review_form .btn_submit_review.clicked > .loading_dots {
  display: flex;
} 
.review_form .error_text {
  color: var(--clr-error);
  margin-bottom: 0.25rem;
  font-size: 0.875rem;
}
@media (max-width: 500px) {
  .empty_flex_div {
    display: none;
  }
  .review_form .btn_submit_review {
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 400px) {
  .review_form .img_preview {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
  }
}

.sec_write_review.submitted > .review_form_headline {
  display: none;
}
.sec_write_review.submitted > .review_form {
  display: none;
}
.sec_write_review.submitted > .review_success_div {
  display: block;
}
.review_success_div {
  display: none;
  margin: 4.5rem var(--page-margin) 5rem var(--page-margin);
}
.review_success_div > img {
  display: block;
  width: 200px;
  margin: 0 auto 1rem auto;
  filter: var(--hue-rotate-success-icon);
}
.review_success_div > .success_headline {
  color: var(--clr-green);
  font-weight: var(--font-weight-bold);
}
.review_success_div > p {
  text-align: center;
  margin: 0 auto 1rem auto;
  max-width: 500px;
}



/* Feedback section */
.sec_feedback {
  --max-width: 600px;
  margin: 5rem var(--page-margin);
}
.sec_feedback > h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}
.sec_feedback > .form_feedback {
  max-width: var(--max-width);
  background-color: white;
  border-radius: 5px;
  padding: 1rem;
  margin: 0 auto;
}
.sec_feedback > .form_feedback > .main_question {
  font-weight: var(--font-weight-bold);
}
.sec_feedback > .form_feedback > .question_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 1.5rem 0;
}
.sec_feedback > .form_feedback > .inp_group {
  margin-top: 1.5rem;
}
.sec_feedback > .form_feedback > .inp_group > label {
  display: flex;
  margin-bottom: 0.5rem;
  font-weight: var(--font-weight-bold);
}
.sec_feedback > .form_feedback > .inp_group_where {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}
.sec_feedback .inp_group_where > label {
  font-weight: var(--font-weight-bold);
}
.sec_feedback .inp_where {
  --cs-font-size: 0.8rem;
  --cs-container-width: 8.25rem;
  --cs-container-height: 2rem;
  --cs-clr-background: white;
  --cs-clr-border: var(--clr-black);
  --cs-dropdown-height: 15rem;
  outline: none;
}
.sec_feedback .inp_where > span {
  white-space: nowrap;
}
.sec_feedback .inp_where:not(.shown):focus-visible > span {
  --cs-clr-border: var(--clr-primary);
}
.sec_feedback .inp_where ul {
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}
@media (max-width: 800px) {
  .sec_feedback .inp_where {
    --cs-container-height: 2.5rem;
  }
  .sec_feedback .inp_where li {
    padding: 0.5rem 0.5rem;
  }
}
.sec_feedback > .form_feedback > .inp_group > textarea {
  padding: 0.75rem 1rem;
  width: 100%;
  height: 8.5rem;
  border: none;
  border-bottom: 0.1rem solid rgba(0,0,0,0.5);
  border-left: 0.1rem solid rgba(0,0,0,0.5);
  border-top: 0.1rem solid rgba(0,0,0,0.1);
  border-right: 0.1rem solid rgba(0,0,0,0.1);
  border-radius: 5px;
  resize: none;
  font-size: 1rem;
}
.sec_feedback > .form_feedback > .inp_group > textarea:focus {
  outline: none;
  border: 0.1rem solid var(--clr-primary);
}

.sec_feedback > .form_feedback .stars_container > .star_svg {
  width: 1.5em;
  height: 1.5em;
}
.sec_feedback > .form_feedback .stars_container {
  gap: 0.2rem;
  pointer-events: none;
  touch-action: none;
}
.sec_feedback > .form_feedback .stars_wrapper {
  cursor: pointer;
  position: relative;
}
.sec_feedback > .form_feedback .stars_cursor_events_container {
  position: absolute;
  top: -0.5rem;
  bottom: -0.5rem;
  left: -0.1rem;
  right: -0.1rem;
  display: flex;
}
.sec_feedback > .form_feedback .stars_cursor_events_container > button {
  width: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}
.sec_feedback > .form_feedback .stars_cursor_events_container > button:focus {
  outline: none;
}
.sec_feedback > .form_feedback .stars_cursor_events_container > button > div {
  width: 100%;
  height: 100%;
}
.sec_feedback > .form_feedback > .btn_submit_feedback {
  position: relative;
  background-color: var(--clr-primary);
  color: white;
  border: 0.1rem solid var(--clr-primary);
  border-radius: 5px;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 300ms, color 300ms;
  margin: 1.5rem auto 1rem auto;
  white-space: nowrap;
  display: block;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.sec_feedback > .form_feedback > .btn_submit_feedback:hover,
.sec_feedback > .form_feedback > .btn_submit_feedback:focus {
  background-color: white;
  color: var(--clr-primary);
}
.sec_feedback > .form_feedback > .btn_submit_feedback > .loading_dots {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
.sec_feedback > .form_feedback > .btn_submit_feedback.clicked {
  color: white;
  transition: background-color 300ms, color 0s;
}
.sec_feedback > .form_feedback > .btn_submit_feedback.clicked > .loading_dots {
  display: flex;
} 
.sec_feedback > .form_feedback > .feedback_error_text {
  color: var(--clr-error);
  text-align: center;
  font-size: 0.875rem;
  margin: 0.75rem 0 -0.5rem 0;
}
.sec_feedback.submitted > .form_feedback {
  display: none;
}
.sec_feedback.submitted > h2 {
  display: none;
}
.sec_feedback.submitted > .feedback_success_div {
  display: block;
}
.feedback_success_div {
  display: none;
  margin: 4.5rem var(--page-margin) 5rem var(--page-margin);
}
.feedback_success_div > img {
  display: block;
  width: 200px;
  margin: 0 auto 1rem auto;
  filter: var(--hue-rotate-success-icon);
}
.feedback_success_div > p {
  text-align: center;
  margin: 0 auto 1rem auto;
  max-width: 500px;
}
.feedback_success_div > .btn_return_home {
  display: inline-block;
  margin: 0.5rem 0 0 50%;
  transform: translateX(-50%);
  padding: 0.75rem 1rem;
  border: 0.1rem solid var(--clr-primary);
  border-radius: 5px;
  background-color: var(--clr-primary);
  color: var(--clr-white);
  text-decoration: none;
  white-space: nowrap;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: background-color 300ms, color 300ms;
}
.feedback_success_div > .btn_return_home:hover,
.feedback_success_div > .btn_return_home:focus {
  background-color: var(--clr-white);
  color: var(--clr-primary);
}